<div class="comics-search-bar"></div>

<div class="comics-results">
  <% @comics.each do |comic| %>
    <div>
      <p><%= comic.title %></p>
      <img src=<%="#{comic.images.first.path}/portrait_xlarge.#{comic.images.first.extension}"%> />
    </div>
  <% end %>
</div>
